---
layout: default
---
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-3">
      <div class="box">
        <h1>
          Project<br>Name
        </h1>
      </div>
    </div>
    <div class="col-xs-12 col-lg-2">
      <div class="box">
        <h3>
          Title
        </h3>
        <p>Architecture & Interior Studio Web Branding</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-2">
      <div class="box">
        <h3>
          Type
        </h3>
        <p>Website design interaction and typography</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-2">
      <div class="box">
        <h3>
          Published
        </h3>
        <p>December, 31st 2020</p>
      </div>
    </div>
  </div>
  <figure class='full-width'>
    <img src="http://detheme.com/templates/perfolio/images/typo.png">
    <figcaption></figcaption>
  </figure>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="box">
        <h4 class="text-muted">The problem</h4>
        <div class="row">
          <div class="col-lg-9">
            <p class="h1">
              The old Jorias web did not perform well to bring visitor into user
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="box">
        <h4 class="text-muted">Our solution</h4>
        <p>
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum.
        </p>
      </div>
    </div>
  </div>
</div>